doctype html
html(lang='en')
  head
    title GarageServer.IO Example
    link(href='/styles.css', rel='stylesheet')

  body
    canvas#canvas(width=640, height=480)
    
    script(src='/socket.io/socket.io.js')
    script(src='/garageserver.io.js')
    script(src='/keyboard.min.js')
    script(src='/PlayerState.js')
    script(src='/color-hash.js')
    script(src='/client.js')
